@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}
<footer class="py-5">
    <div class="ui container fluid vertical segment footer">
        <div class="ui container">
            <div class="ui four column stackable inverted equal height grid">
                <div class="col-md-3">
                    <img class="ui image" src="~/assets/image/logo/logo-footer.png" alt="">
                        <div class="text-footer">
                            @LojaCorp.Control.Company._Company.ComplementText
                            <br />
                            <p>CNPJ: @LojaCorp.Control.Company._Company.CNPJ</p>
                            <p>
                            @{
                                string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                            }
                            @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                            @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                            </p>
                            <p class="mt-2">@LojaCorp.Control.Company._Company.FantasyName</p>
                            
                        </div>
                        
                </div>
                <div class="col-md-2">
                    @Html.Action("CustomPages", "Home")
                </div>

                <div class="col-md-2">

                    @Html.Action("GetList", "EventList")
                    <div class="column">
                        <h4>Atendimento</h4>
                        <div>
                            <h5 class="link-footer">SAC: @LojaCorp.Control.Company._Company.Phone1</h5>
                        </div>
                        <socialbar>
                            @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                                    <i class="facebook icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                                    <i class="instagram icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                    <i class="twitter icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                    <i class="youtube icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                    <i class="google plus icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP") != null)
                            {
                                <a class="text color white" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.ToString()" target="_blank" title="WHATSAPP">
                                    <i class="whatsapp icon"></i>
                                </a>
                            }
                            @if (redesSociais.Find(f => f.Identifier.ToUpper() == "BLOGER") != null)
                            {
                                <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "bloger").Content" target="_blank" title="Blogger">
                                    <i class="wpforms icon"></i>
                                </a>
                            }
                        </socialbar>
                    </div>
                </div>


                <div class="col-md-3">
                    <h4>Formas de pagamento</h4>
                    @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                </div>
                <div class="col-md-2">
                    <h4>Segurança</h4>
                    <div class="ui horizontal list selos">
                        @Html.Action("EBit", "Company")
                        @Html.Action("GetCompanySeal", "Company")
                        @*
                            <div class="item">
                                <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif" alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
                            </div>
                        *@
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="ui container fluid vertical subFooter">
        <div class="ui container">
            <div class="ui column grid">
                <div class="row stackable">
                    <div class="column text small textoEmpresa">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-none d-md-flex">
                @Html.Partial("Common/_JetLogo")
                <a href="http://followupcomunicacao.com.br/" target="_blank" rel="noopener">
                    <img class="img-fluid" src="~/assets/image/logo/fup.png" width="50px" style="filter: brightness(0.7); position: relative; top: 6px; margin-left: 10px;">
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="modal-block">

</div>

